
body {
    background-color: gray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Andale Mono';
}

h1 {
    font-size: 6rem;
    color: white;
    text-shadow: 3px 3px black;
    margin-bottom: 4rem;
}

h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 3rem;
    padding: 2rem 0;
    width: 40rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 1px 1px black;
    background: linear-gradient(90deg, purple 0%,#f03cf0 100%)
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 #d625d6;
    transition: transform 100ms;
    transform: scale(1.1);
}

.button[disabled]:hover {
    cursor: not-allowed;
}

#highscores-button {

}

body {
    color: white;
}

.choice-container {
    display:flex;
    font-size: 2rem;
    padding: 2rem 0;
    width: 40rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 1px 1px black;
    background: linear-gradient(90deg, purple 0%,#f03cf0 100%);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 #d625d6;
    transition: transform 100ms;
    transform: scale(1.1);
}

.choice-prefix {
    padding: 0rem 2rem;
    color: white;
}

.choice-text {
    width: 100%
}

.correct {
    background: linear-gradient(42deg, rgb(74, 243, 74) 0%, green 100%);
}

.incorrect {
    background: linear-gradient(42deg, rgb(174, 8, 8) 0%, red 100%);
}

#question {
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px black;
    margin-bottom: 2rem;
}

.hud-item {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}